.about {
  background-color: #f8f9f9;
  padding: 120px 80px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  background-color: #e3e3e3;
  border-radius: 30px;
  padding: 60px 80px;
  max-width: 1100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.about-left img {
  width: 270px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  background-color: #d1d1d1;
}

.about-right {
  max-width: 600px;
  text-align: left;
  color: #111;
}

.about-right h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.about-right p {
  font-size: 0.95rem;
  line-height: 1.7;
  margin-bottom: 15px;
  color: #222;
}

.about-right strong {
  font-weight: 700;
}

.about-skills {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.about-skills span {
  background-color: #a0a0a0;
  color: white;
  padding: 8px 20px;
  border-radius: 25px;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: default;
  transition: background-color 0.3s;
}

.about-skills span:hover {
  background-color: #f6b9a9;
}

/* --- Responsivo --- */
@media (max-width: 950px) {
  .about-container {
    flex-direction: column;
    text-align: center;
    padding: 60px 40px;
  }

  .about-left img {
    width: 220px;
    height: 300px;
  }

  .about-right {
    max-width: 100%;
  }

  .about-skills {
    justify-content: center;
  }
}
