.contact {
  padding: 90px 0 90px;   /* mucho menos ESPACIO arriba/abajo */
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.contact-box {
  width: 85%;
  max-width: 1300px;
  background: transparent;
  border-radius: 45px;
  padding: 35px 50px; 
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}


/* IZQUIERDA */
.contact-left {
  width: 48%;
}

.contact-name {
  font-size: 3rem;
  font-weight: 400;
  color: #E2A38A;
  margin-bottom: 5px;
}

.contact-title {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-desc {
  font-size: 0.95rem;
  font-weight: 300;
  max-width: 480px;
  line-height: 1.5;
}

/* DERECHA */
.contact-right {
  width: 46%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.contact-item {
  background: #DAEBE3;
  padding: 8px 15px;   /* antes 16px 20px */
  border-radius: 14px;
  height: 65px;       /* NUEVO: hace la caja más baja */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.label {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 4px;
  color:#929292;
}

.value {
  font-size: 0.9rem;
  font-weight: 400;
  color:#929292;
}

.contact-big {
  grid-column: span 2;
  background: #DAEBE3;
  padding: 12px 15px;   /* menos padding */
  border-radius: 14px;
  height: 110px;        /* NUEVO: más bajito */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* MAS CHICO - MAS FINO */
.contact-item, .contact-big {
  box-shadow: 0 0 0 4px rgba(255,255,255,0.4);
}

@media (max-width: 900px) {
  .contact-box {
    flex-direction: column;
    padding: 40px;
  }

  .contact-right {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .contact-big {
    grid-column: 1;
  }
}
