/* --- CONTENEDOR GENERAL --- */
.featured {
  padding: 120px 80px;
  font-family: "Poppins", sans-serif;
  color: #111;
}

.featured-title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 80px;
}

/* --- CONTENEDOR INTERNO --- */
.featured-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px; /* espacio entre bloques */
  flex-wrap: nowrap; /* evita que se parta en dos columnas */
}

/* ============================
   IZQUIERDA (TEXTO)
============================ */
.featured-left {
  background-color: #94cedc;
  border-radius: 230px 20px 20px 230px;
  padding: 50px 80px; /* margen para mover texto a la derecha */
  width: 560px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* TÍTULO DEL PROYECTO */
.featured-name {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 18px;
}

/* DESCRIPCIÓN */
.featured-desc {
  font-size: 1.05rem;
  line-height: 1.7;
  color: #1a1a1a;
  width: 90%;
  margin-bottom: 22px;
}

/* COLABORADORES */
.featured-collab {
  font-size: 0.95rem;
  color: #444;
}

.featured-collab span {
  font-weight: 600;
}

/* ============================
   DERECHA (IMAGEN)
============================ */
.featured-right {
  background-color: #dcdcdc;
  border-radius: 40px;
  width: 650px;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.featured-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta perfecto sin deformarse */
  border-radius: 40px;
}


/* ============================
   RESPONSIVE
============================ */
@media (max-width: 1150px) {
  .featured-container {
    flex-wrap: wrap;
  }

  .featured-left {
    width: 90%;
    height: auto;
    border-radius: 40px;
  }

  .featured-right {
    width: 90%;
    height: 280px;
    border-radius: 20px;
  }
}
